.Header {
  margin: 0px;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  border: 10px solid white;
  background-image: url('./headerBG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Header ul {
   display: flex;
   margin-top: -50px;
}

li {
  list-style: none;
  margin-left: 20px;
  font-size: .5em;
  text-decoration: none;
  color: green;
}
.Header a {
  text-decoration: none;
  color: white;
}
.Header h1 {
  color: darkblue;
}
